@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";

$sizes: (0,10,15,20,25,30,50);
$positions: ('top','left','bottom','right');

@each $size in $sizes {
  .u-m-#{$size} {
    margin: $size + px;
  }
  .u-p-#{$size} {
    padding: $size + px;
  }
}

.tokens-stats {
  strong {
    color: #fff;
  }
}

.has-particles {
  background-color: #212121 !important;
  position: relative;
  overflow: hidden;

  .title,
  .subtitle {
    color: lighten($color: #363636, $amount: 90%)
  }

  .hero-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#particles-js {
  height: 100%;
  width: 100%;
}

.ico-bg {
  background-color: darken($color: (#212121), $amount: 5%) !important;
  border: 1px solid lighten(#ff9800, 10%);
  padding: 12px 24px;
  border-radius: 9px;
  color: lighten($color: #363636, $amount: 90%);
  margin-top: 140px;

  .title,
  .subtitle {
    color: lighten($color: #363636, $amount: 90%)
  }

  ul li {
    color: lighten($color: #363636, $amount: 90%);
  }
}

.sep {
  border-right: 1px solid #cbcbcb;
  margin-right: 12px;
}
